  
.bg-image {
  background: linear-gradient(rgba(8, 8, 8, 0.3), rgba(8, 8, 8, 0.3)), url('https://images.unsplash.com/photo-1491185841098-9ce20f966624?q=80&w=1932&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
  background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%; 
  display: flex;
  align-items: center; 
  justify-content: center; 
  background-size: cover;
}





































/* https://images.unsplash.com/photo-1517178313064-9447953f46e8?q=80&w=1752&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D */
/* https://images.unsplash.com/photo-1491185841098-9ce20f966624?q=80&w=1932&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D*/
/* https://images.unsplash.com/photo-1690983322070-22861e13ce47?q=80&w=1770&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D */